<%= form_with model: @user, class: "p-8 flex flex-col gap-8", data: { turbo_frame: "_top" } , url: login_user_path, method: :post do |form| %>
  <div class="flex flex-col">
    <%= form.label :email, "Adresse e-mail:" %>
    <%= form.email_field :email, class: "input" %>
  </div>
  <div class="flex flex-col">
    <%= form.label :password, "Mot de passe:" %>
    <%= form.password_field :password, class: "input" %>
  </div>
  <%= form.submit "Se connecter", class: "submit" %>
<% end %>