<%= form_with model:@user, class: "p-24 w-full ml-8 flex flex-col gap-6", url: register_user_path, method: :post do |form| %>
  <div class="grid gap-6">
    <div class="flex flex-col w-full">
      <%= form.label :first_name, "Prénom:", class: "w-full" %>
      <%= form.text_field :first_name, class: "input" %>
    </div>
    <div class="flex flex-col">
      <%= form.label :last_name, "Nom:" %>
      <%= form.text_field :last_name, class: "input" %>
    </div>
  </div>
  <div class="grid gap-6">
    <div class="flex flex-col">
      <%= form.label :email, "Adresse e-mail:" %>
      <%= form.email_field :email, class: "input" %>
    </div>
    <div class="flex flex-col">
      <%= form.label :phone, "Numéro de téléphone:" %>
      <%= form.telephone_field :telephone, class: "input" %>
    </div>
  </div>
  <div class="grid gap-6">
    <div class="flex flex-col">
      <%= form.label :password, "Mot de passe" %>
      <%= form.password_field :password, class: "input" %>
    </div>
    <div class="flex flex-col">
      <%= form.label :password_confirmation, "Confirmer le mot de passe" %>
      <%= form.password_field :password_confirmation, class: "input" %>
    </div>
  </div>
  <div class="w-full flex justify-center items-center my-8">
    <%= form.submit "S'inscrire", class: "submit" %>
  </div>
<% end %>