<div class="grid grid-cols-2 gap-8 m-4 my-8">
    <%= link_to "Produits", admin_products_path, data: {turbo_frame: "admin_dashboard"},
                class: "font-bold text-3xl p-8 flex justify-center items-center border-4 rounded-xl border-primary hover:shadow-xl hover:shadow-white cursor-pointer" %>
    <%= link_to "Catégories", admin_categories_path, data: {turbo_frame: "admin_dashboard"},
                class: "font-bold text-3xl p-8 flex justify-center items-center border-4 rounded-xl border-primary hover:shadow-xl hover:shadow-white cursor-pointer" %>
    <%= link_to "Utilisateurs", admin_products_path, data: {turbo_frame: "admin_dashboard"},
                class: "font-bold text-3xl p-8 flex justify-center items-center border-4 rounded-xl border-primary hover:shadow-xl hover:shadow-white cursor-pointer" %>
    <%= link_to "Contact", admin_products_path, data: {turbo_frame: "admin_dashboard"},
                class: "font-bold text-3xl p-8 flex justify-center items-center border-4 rounded-xl border-primary hover:shadow-xl hover:shadow-white cursor-pointer" %>
</div>
<%= turbo_frame_tag "admin_dashboard" %>