<header class="w-full fixed top-0 left-0">
  <nav class="mx-12 my-4 flex justify-between">
    <div>
      <%= image_tag("icons/menu.svg", class: "w-32 cursor-pointer") %>
    </div>
    <div>
      <%= link_to(root_path) do  %>
        <%= image_tag("logo.png", class: "w-32 cursor-pointer") %>
      <% end %>
    </div>
    <div class="flex justify-center items-center gap-4">
      <span>
      <% if current_user %>
        <%= current_user.first_name %>
      <% end %>
      </span>
      <%= link_to login_user_path(original_url: request.original_url), data: {turbo_frame: "modal"} do %>
        <%= image_tag("icons/user.svg", class: "w-32 cursor-pointer") %>
      <% end %>
    </div>
  </nav>
</header>