<header class="w-full fixed top-0 left-0">
  <nav class="mx-12 my-4 flex justify-between">
    <div>
      <%= link_to menu_path(original_url: request.original_url), data: { turbo_frame: "menu" } do %>
        <%= image_tag("icons/menu.svg", class: "w-32 cursor-pointer") %>
      <% end %>
    </div>
    <div>
      <%= link_to(root_path) do  %>
        <%= image_tag("logo.png", class: "w-32 cursor-pointer") %>
      <% end %>
    </div>
    <div class="flex justify-center items-center gap-4">
      <% if current_user %>
        <span>
          <%= current_user.first_name %>
        </span>
        <%= link_to logout_user_path do %>
          <%= image_tag("icons/logout.svg", class: "w-32 cursor-pointer") %>
        <% end %>
        <% if current_user.is_admin %>
          <%= link_to admin_root_path do %>
            <%= image_tag("icons/settings.svg", class: "w-32 cursor-pointer") %>
          <% end %>
        <% end %>
      <% else %>
        <%= link_to login_user_path(original_url: request.original_url), data: {turbo_frame: "modal"} do %>
          <%= image_tag("icons/user.svg", class: "w-32 cursor-pointer") %>
        <% end %>
      <% end %>
    </div>
  </nav>
</header>